# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
debug.log
elementor-ajax-debug.log
ajax-errors.log
wp-content/debug.log

# Editors
.vscode/
.idea/
*.swp
*.swo

# Dependencies (just in case)
node_modules/
vendor/

# Archives
*.zip
*.tar.gz
*.md
/.cursor
