/* Mobile Responsive (max-width: 767px) */

@media screen and (max-width: 47.9375rem) {
    .service-card a {
        padding: 1.5rem;
    }

    .service-card a::after {
        right: 1.5rem;
        bottom: 1.5rem;
    }

    /* Slider adjustments */
    .services-slider .swiper-button-next,
    .services-slider .swiper-button-prev {
        width: 35px;
        height: 35px;
    }

    .services-slider .swiper-button-next:after,
    .services-slider .swiper-button-prev:after {
        font-size: 16px;
    }

    .services-slider .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .services-slider .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
    }
}