/**
 * Locations Display Widget Styles
 * Main entry point - imports all modular CSS
 */

@import url('./base/variables.css');
@import url('./layout/container.css');
@import url('./components/heading.css');
@import url('./components/card.css');
@import url('./components/image.css');
@import url('./responsive/tablet.css');
@import url('./responsive/mobile.css');