/**
 * Contact Info Card Widget Styles
 * Main entry point
 */

@import url('base/variables.css');
@import url('layout/container.css');
@import url('layout/combined.css');
@import url('layout/position.css');
@import url('components/typography.css');
@import url('components/button.css');
@import url('components/icon-list.css');
@import url('components/employee-info.css');
@import url('components/contact-items.css');
@import url('components/forms.css');
@import url('components/accessibility.css');