@media (max-width: 1024px) {

    /* Grid Columns - Tablet */
    .promen-catering-grid.tablet-columns-1 {
        grid-template-columns: 1fr;
    }

    .promen-catering-grid.tablet-columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .promen-catering-grid.tablet-columns-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}