/**
 * Promen Elementor Widgets - Main Stylesheet
 * This file imports all individual widget stylesheets
 */


/* Import Common Styles */

@import url('common.css');

/* Widget Styles */
/* Individual widget styles are now loaded by the widgets themselves */

/* Global styles that should apply to all pages */

body {
    overflow-x: hidden !important;
}


/* Lenis smooth scroll styles */

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}