/**
 * Promen Elementor Widgets - Main Stylesheet
 * This file imports all individual widget stylesheets
 */


/* Import Common Styles */

@import url('common.css');

/* Widget Styles */
/* Individual widget styles are now loaded by the widgets themselves */

/* Global styles that should apply to all pages */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}