/* Image Text Slider Main Style */

/* Layout Styles */
@import 'layout.css';

/* Content Styles */
@import 'content.css';

/* Controls Styles */
@import 'controls.css';

/* Responsive Styles */
@import 'responsive.css';