/* Grid Layout */
.promen-catering-grid {
    display: grid;
    grid-gap: 1.5rem;
    width: 100%;
}

/* Grid Columns - Desktop */
.promen-catering-grid.desktop-columns-1 {
    grid-template-columns: 1fr;
}

.promen-catering-grid.desktop-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.promen-catering-grid.desktop-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.promen-catering-grid.desktop-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}