/**
 * Locations Display - Image Component
 */

.location-image {
    width: 100%;
    height: var(--locations-image-height, 250px);
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}

.location-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}