/* Image Styles */
.promen-catering-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.promen-catering-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.promen-catering-img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}