/* Overlay Styles */
.promen-catering-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.promen-catering-overlay.hover-overlay {
    opacity: 0;
}

.promen-catering-image:hover .hover-overlay {
    opacity: 1;
}