/* Title Styles */
.promen-certification-logos .certification-title {
    text-align: center;
    margin-bottom: 3rem;
    line-height: 1.2;
}

.promen-certification-logos .certification-title-part-1 {
    display: inline;
    font-weight: 300;
}

.promen-certification-logos .certification-title-part-2 {
    display: inline;
    font-weight: 800;
}

.promen-certification-logos .certification-title-part-1:after {
    content: " ";
    white-space: pre;
}

/* Description Styles */
.promen-certification-logos .certification-description {
    text-align: center;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}