/**
 * Checklist Comparison Widget Styles
 */


/* Container Styles */

.promen-checklist-comparison {
    padding: 2.5rem;
    border-radius: 0.5rem;
    background-color: #F0D8A7;
    width: 100%;
    box-sizing: border-box;
}

.promen-checklist-comparison__container {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 767px) {
    .promen-checklist-comparison__container {
        flex-direction: column;
    }
}


/* Column Styles */

.promen-checklist-comparison__column {
    flex: 1;
}


/* Heading Styles */

.promen-checklist-comparison__heading {
    margin: 0 0 1.5rem 0;
    color: #0B1A37;
    font-weight: 700;
}


/* Checklist Items Styles */

.promen-checklist-comparison__items {
    display: flex;
    flex-direction: column;
}

.promen-checklist-comparison__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(11, 26, 55, 0.1);
}

.promen-checklist-comparison__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.promen-checklist-comparison__item-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.875rem;
    color: #0B1A37;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
}

.promen-checklist-comparison__item-icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.promen-checklist-comparison__item-icon i {
    font-size: 1.5rem;
}

.promen-checklist-comparison__item-text {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #0B1A37;
}


/* Responsive styles */

@media screen and (max-width: 1024px) {
    .promen-checklist-comparison {
        padding: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .promen-checklist-comparison {
        padding: 1.5rem;
    }
    .promen-checklist-comparison__heading {
        margin-bottom: 1rem;
    }
    .promen-checklist-comparison__item {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}